@charset "utf-8";
/* CSS Document */
<style type="text/css">

.glossymenu{
margin: 5px 0;
padding: 0;
width: 170px; /*width of menu*/
border: 1px solid #9A9A9A;
border-bottom-width: 0;
}




.glossymenu a.menuitem{
	color: #DCDEAD;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: 160px;
	padding-left: 10px;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 0;
	padding-bottom: 4px;
	background-image: url(../../images/glossyback.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
	color: #FFFFCC;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 5px;
right: 5px;
border: none;
}

.glossymenu a.menuitem:hover{
	background-image: url(../../images/glossyback2.gif);
	color: #FFFFCC;
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
	width: 170px;
	background-image: url(../../../website%20March07/images/submenuback.gif);
	color: #FFFFFF;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-image: url(../../submenuback.gif);
	color: #DEDC8B;
}

.glossymenu div.submenu ul li{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0C040;
}

.glossymenu div.submenu ul li a{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 2px 0;
	padding-left: 10px;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	background-image: url(../../images/submenuback.gif);
}

.glossymenu div.submenu ul li a:hover{
	colorz: white;
	background-color: #AC611E;
}

</style>
#container {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.box {
	background-color: #D9BA7B;
	border: 2px inset #723216;
}
.submit {
	margin-left: 110px;
	background-color: #A16D42;
	color: #C0C0C0;
	font-weight: bolder;
	font-family: "trebuchet MS", "Lucida Sans", arial;
	padding: 2px;
	font-size: 15px;
	border: 5px inset #703014;
	margin-top: 4px;
}

.rightbanner {
	margin-left: 20px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.alstevent {
	font-family: "Tempus Sans ITC", "Arial Black", "Arial Rounded MT Bold", Georgia;
	font-size: 15px;
	line-height: 5%;
	font-weight: bold;
	color: #FFFFFF;
}
